.navbar-brand-logo {
    min-width: 9rem !important;
    max-width: 9rem !important;
}

.navbar-nav {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }
}

.navbar .nav-item:not(:last-child) {
    margin-right: 3.5rem !important;
}


.tom-select-custom .ts-dropdown .option {
    padding: 10px !important;
}


.paginate_item.page-item.disabled{
    cursor: no-drop;
}


.input-group-merge .form-control:not(:first-child), .input-group-merge .form-select:not(:first-child) {
   /* padding-left: 1rem !important; */
}

.w-3{
    width: 3% !important;
}

.w-5{
    width: 5% !important;
}


.cursor-pointer{
    cursor: pointer;
}